---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Castro</title>
	</head>
	<body>
		<style>
			body {
				font-family: Arial, Helvetica, sans-serif;
				margin: 20px;
				padding: 50px;
				background-color: #222;
				color: #fff;
			}
			a {
				color: #fff;
				font: 1.5em sans-serif;
			}
		</style>

		<h1>Castro</h1>


		<a href="/about">About</a>
		<a href="/products">Productos</a>

	</body>
</html>
