---

---
<style>
    a {
        color: aqua;
    }
</style>
<nav class="hero_nav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/products">Productos</a>
    <a href="/prueba/prueba">Prueba</a>
    <a href="/faq">FAQ</a>

</nav>