---
---

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 50px;
        padding: 50px;
        background-color: #222;
        color: #fff;
    }
</style>

<h1>Productos</h1>

<img src="/Cabeza.jpg" 
height="600px" 
width="800px"
alt="Foto de cabeza romana">